%h1 Welcome to my task organizer!
%p This web app does not have a real name yet since my idea for a name is already being used, but it will soon! Please sign up and start organizing your routine!
%p check back often for updates that are sure to help your productivity and improve the look and feel of this site.