#new-task-fields{ 'class' => 'modal hide fade' , :data => { :backdrop => "static", :target => "modal" } }
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3 Add a Task
  .modal-body
    %fieldset
      = f.text_field(:name)
      = f.text_area :description
      = f.hidden_field(:_destroy, :class => "field")
  .modal-footer
    %button#addButton.btn.btn-primary{"aria-hidden" => "true", "data-dismiss" => "modal", :title => "Add this Task.", :type => "button"} Add
    %button#cancelButton.btn.btn-inverse{"aria-hidden" => "true", "data-dismiss" => "modal", :title => "Close this screen without adding the Task.", :type => "button"} Cancel